[Unit]
Description = kubernetes Kube Proxy
Documentation = https://github.com/kubernetes/kubernetes
After = network.target

[Service]
Execstart = /usr/local/bin/kube-proxy \
 --config = /etc/kubernetes/kube-proxy.yaml \
    --v = 2
Restart = always
RestartSec = 10s

[Install]
WantedBy = multi-user.target

